<script>
</script>

<main>
	<div>
		<h1>Tamás Király</h1>
		<p>
			I live in <a
				href="https://en.wikipedia.org/wiki/Budapest"
				target="_blank">Budapest, Hungary, Europe.</a
			>
		</p>
		<p>I am trying to guide my daughter through life.</p>
		<p>
			I started working in the <a
				href="https://en.wikipedia.org/wiki/Internet_of_things"
				target="_blank">IoT</a
			>
			field before it became popular.
		</p>
		<p>
			I work for <a href="https://commsignia.com" target="_blank">Commsignia.</a>
		</p>
		<p>I do IT related things all day and evening.</p>
		<p>
			You can find more details about my professional life on <a
				href="https://linkedin.com/in/tkiraly"
				target="_blank">Linkedin.</a
			>
		</p>
		<p>
			LoRa is the coolest wireless technology these days which is used for <a
				href="https://lora-alliance.org/lorawan-for-developers/"
				target="_blank">LoRaWAN.</a
			>
		</p>
		<p>
			My favorite programming language is <a
				href="https://golang.org"
				target="_blank">Go.</a
			>
		</p>
		<p>C amazes me every day.</p>
		<p>
			I wrote some source code which can be found on <a
				href="https://gitlab.com/tkiraly"
				target="_blank">Gitlab</a
			>
			or on
			<a href="https://github.com/tkiraly" target="_blank">Github</a>
		</p>
		<p>
			Blog can be found <a
				href="https://tkiraly.substack.com"
				target="_blank">here.</a
			>
		</p>
	</div>
	<img src="laptop-self.png" alt="the author" />
</main>

<style>
	a {
		color: blue;
	}

	main {
		display: flex;
		flex-wrap: wrap;
		background-color: lightgrey;
		margin-top: 10em;
		justify-content: center;
	}

	div {
		margin: auto;
	}

	img {
		max-height: 454px;
		margin: auto;
	}
</style>
